# Ignore Terraform state files
*.tfstate*
*.tfstate.*
*.terraform.lock.hcl
# Ignore Terraform directories
.terraform 
*.tfvars var.db_username = "tmmc_admin" var.db_password = "TMmc2024!SecureDB#1"   